doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Sophia JiyeonLee's personal demo webstie who is 3D artist and fronted engineer.")
    meta(name="keywords" content="3D Artist,Fonted Engeener,3d,maya,javscript,demo")
    meta(name="auto" content="Sophia Jiyeon Lee")
    title Sophia Jiyeon Personal Demo Website
    link(rel="stylesheet" href="/assets/css/style.css")
    link(rel="stylesheet" href="/assets/css/style_Thumbnails.css")
    link(rel="stylesheet" href="/assets/css/style_Skills.css")
    link(rel="stylesheet" href="/assets/css/style_Info.css")
    link(rel="stylesheet" href="/assets/css/fontello.css")
    link(href="https://fonts.googleapis.com/css?family=Text+Me+One&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
   

  body#body
    #master
      section#demo
        header#logo
          img#logoHeighter(src="/assets/images/svg/logo_heighter.svg",alt='Sophia Logo')
          img#logoWider(src="/assets/images/svg/logo_wider.svg",alt='Sophia Logo')
        header#demoVideo
          iframe(src="https://player.vimeo.com/video/374348394?autoplay=1&color=ffffff&title=0&byline=0&portrait=0&muted=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
          #demoVideoBgCSSAnim
        #demoSVG(class='blurSVG')
      
      section#menu
        each val, key in {work:["rgb(220, 51, 35)", "rgb(212, 116, 43)", "#ff3b29", "#ff8c34"],skill:["rgb(168, 63, 209)", "rgb(192, 49, 91)", "#cd4dff", "#ff4179"], paint:["rgb(225, 149, 46)", "rgb(48, 171, 152)", "#ffa934", "#30ab98"], info:["rgb(200, 86, 177)", "rgb(75, 173, 209)", "#ff6ee2", "#5cd3ff"]}
          li(id=key)
            .rectPack
              .text #{key.toUpperCase()}
              .neon.neon1
              .neon.neon2
              svg
                defs
                  linearGradient(id=key+'RectColor' x1="0%" y1="0%" x2="100%" y2="100%")
                    stop(offset="10%"  stop-color=val[0])
                    stop(offset="90%"  stop-color=val[1])
                  if key=='work'
                    linearGradient(id="SVGIvory" x1="0%" y1="0%" x2="100%" y2="100%")
                      stop(offset="10%"  stop-color='ivory')
                      stop(offset="90%"  stop-color='ivory')
                path(id=key+'RectWavy1' class='wavyPath' fill='none' stroke=val[2])
                path(id=key+'RectWavy2' class='wavyPath' fill='none' stroke=val[3])
                rect(id=key+'Rect')
            .contents
              if key=='info'
                .top
                  #myPic
                    .bg
                    img(src="/assets/images/pictures/myPic.jpg" alt="Sophia's picture")
                  main.me
                    .myName
                      h1.name Hi, I'm Sophia
                      h2.name Jiyeon Lee
                    h3.position 3D Artist & Frontend Engineer
                .line
                .bot
                  div#summary
                    div.heads WHO AM I
                    article.bodies
                      p.summary I am a 3D Artist, specialised in <strong>lighting</strong>.
                      p.summary I also love to do <strong>modeling, textureing, rigging, animating</strong> and <strong>dynamic things</strong>.
                                |<br>Recently, I started to learn code, <strong>Javascript</strong>, for understanding basics of programming a year ago, and I created my webstie by myself which is still in progress.
                                |<br>JS librareis that I worked are <strong>ThreeJS</strong> and <strong>Gsap</strong> in this website.
                  div#education
                    div.heads EDUCATION
                    article.bodies
                      .school
                        p.education.Mockwon.schoolName Mockwon University
                        p.education.Mockwon BA in Animation
                        p.education.Mockwon.country South Korea
                        p.education.Mockwon.date 2007 ~ 2011
                      .school
                        p.education.Mockwon.schoolName Academy of Art University
                        p.education.Mockwon MA in VisualEffects & Animation
                        p.education.Mockwon.country USA
                        p.education.Mockwon.date 2013 ~ 2017
                  div#contact
                    div.heads WHERE TO FIND ME
                    .bodies
                      nav#email.address 
                        .icon-mail.icon
                        a(href="mailto:jiyeon.sophia.lee@gmail.com" title='email') Email to me here
                      nav#artStation.address
                        .icon-picture.icon
                        a(href="https://www.artstation.com/jiyeon_sophia" target="_blank") My Artstation here
                      nav#github.address
                        .icon-github.icon
                        a(href="https://github.com/JiyeonSophiaLee" target="_blank") My Github here

  
  script(type='module' src="/assets/js/mainControllerLighter.js")